* {
    font-family: 'Libre Bodoni', serif;
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

body { }

header {
    color: white;
    background-color: #791b1b;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    font-weight: bold;
    font-size: 25px;
    display: flex;
}

nav ul li {
    margin-right: 30px;
    cursor: pointer;
}

.nav1, .nav2 {
    display: flex;
}

.logo {
    width: auto;
    height: auto;
}


