* {
    font-family: 'Libre Bodoni', serif;
    
    margin: 0;
    padding: 0;
}

body {    }

header {
    color: white;
    background-color: #791b1b;
    padding: 30px;
    padding-left: 30px;
    display: flex;
    align-items: center;

}

nav ul {
    list-style: none;
    font-weight: bold;
    font-size: 25px;
    display: flex;
}

nav ul li {
    margin-right: 50px;
    cursor: pointer;
}

.nav1 {
    margin-left: 50px;
}

.nav2 {
    position: relative;
    float: right;
    margin-left: 400px;
}

.logo {
    margin-left: 400px;
    width: auto;
    height: auto;
}
.container{
    margin: 60px;
}
.main_image {
    float: left;
    margin-right: 60px;
}
.txt{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
}

.more_menu {
    width: 20%;
    height: 100px;
    margin: 40%;
}